<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-alumno"
                        text="regresar" 
                        color="primary"
                        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title><img src="assets/image/logoduocuc.png/" alt="logoSuperior" width="200vh" height="auto"></ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <table style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th style="border: 1px solid #ccc; padding: 8px;">Id</th>
        <th style="border: 1px solid #ccc; padding: 8px;">Asignatura</th>
        <th style="border: 1px solid #ccc; padding: 8px;">porcentaje </th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="border: 1px solid #ccc; padding: 8px;">DRW</td>
        <td style="border: 1px solid #ccc; padding: 8px;">Desarrolo web</td>
        <td style="border: 1px solid #ccc; padding: 8px;"> 90% </td>
      </tr>
      <tr>
        <td style="border: 1px solid #ccc; padding: 8px;">PRM</td>
        <td style="border: 1px solid #ccc; padding: 8px;">Programacion Movil</td>
        <td style="border: 1px solid #ccc; padding: 8px;">70%</td>
      </tr>
      <tr>
        <td style="border: 1px solid #ccc; padding: 8px;">ARQ</td>
        <td style="border: 1px solid #ccc; padding: 8px;">Arquitectura</td>
        <td style="border: 1px solid #ccc; padding: 8px;">70%</td>
      </tr>
      <tr>
        <td style="border: 1px solid #ccc; padding: 8px;">IGL</td>
        <td style="border: 1px solid #ccc; padding: 8px;">Ingles</td>
        <td style="border: 1px solid #ccc; padding: 8px;">80%</td>
      </tr>
      <tr>
        <td style="border: 1px solid #ccc; padding: 8px;">CBD</td>
        <td style="border: 1px solid #ccc; padding: 8px;">Cosultabase de Datos</td>
        <td style="border: 1px solid #ccc; padding: 8px;">76%</td>
      </tr>
    </tbody>
  </table>

</ion-content>

